<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css" />
    <title>Vue Pokedex</title>
</head>

<body>
    <div id="mainarea">
        <div id="app">
            <h1>Search for a Pokemon:</h1>
            <div class="userinput">
                <input type="text" v-model="searchinput">
                <button v-on:click="getPokemon">Search</button> <button v-on:click="getRandomPokemon">Random</button>
            </div>


            <div v-show="pokemon.name != ''">
                <div v-bind:id="pokemon.color" class="pokemondisplay">
                    <div class="content-holder">
                        <div class="nextprev">
                            <div class="previous" v-on:click="getpreviouspokemon">
                                <img :src="previouspokemon.image">
                                <p>Previous:<br>#{{previouspokemon.id}} - {{previouspokemon.name}}</p>
                            </div>
                            <div class="pokemontitle">
                                <h3>#{{pokemon.id}}</h3>
                                <h1>{{pokemon.name}}</h1>
                            </div>
                            <div class="next" v-on:click="getnextpokemon">
                                <p>Next:<br>#{{nextpokemon.id}} - {{nextpokemon.name}}</p>
                                <img :src="nextpokemon.image">
                            </div>
                        </div>

                    </div>
                    <div class="pokemondata">
                        <div style="flex:1" class="content-holder image">
                            <img :src="pokemon.image" class="pokemonimage">
                        </div>
                        <!--<p>{{pokemon.flavor_text_entries[1]}}</p>-->
                        <div style="flex:2; display: flex; flex-direction: column;">
                            <div class="content-holder">
                                <p>{{pokemon.flavor}}</p>
                                <p>{{pokemon.name}} was first introducted in {{pokemon.generation}}.</p>
                            </div>
                            <div style="display:flex">
                                <div class="content-holder" style="flex:1">
                                    <div style="display: flex; justify-content: space-evenly;">
                                        <div style="flex:1" v-for="type in pokemon.types" v-bind:class="type.toLowerCase()" id="type">
                                            <p>{{type}}</p>
                                        </div>
                                    </div>
                                    <p>{{pokemon.category}}</p>
                                    <p>Weight: {{pokemon.weight}}</p>
                                    <p>Height: {{pokemon.height}}</p>
                                </div>
                                <div class="content-holder" style="flex:1">
                                    <p>Capture Rate: {{pokemon.capturerate}}</p>
                                    <p>Base Happiness: {{pokemon.basehappiness}}</p>
                                    <p>Growth Rate: {{pokemon.growth}}</p>
                                    <p>Shape: {{pokemon.shape}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pokemondata">
                        <div class="content-holder">
                            <div class="statschart">
                                <div v-for="stat in pokemon.stats">
                                    <div id="myProgress">
                                        <span class="myBar" v-bind:id="pokemon.color" v-bind:style="{height: stat.stat + 'px' }">
                                    </span>
                                    </div>
                                </div>

                            </div>

                            <div class="stattextcontainer">
                                <div id="stattext" v-for="stat in pokemon.stats">
                                    <p>{{stat.stat}}</p>
                                    <p>{{stat.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pokemondata">
                        <div class="content-holder">
                            <h3>Abilities:</h3>
                            <div v-for="ability in pokemon.abilities">
                                <p>{{ability.name}}<i> - {{ability.description}}</i></p>
                            </div>
                        </div>

                    </div>
                    <div class="pokemondata" v-show="pokemon.helditems.length > 0">
                        <div class="content-holder">
                            <h3>Possible Held Items:</h3>
                            <div class="heldItems" v-for="helditem in pokemon.helditems">
                                <img :src="helditem.image">
                                <p>{{helditem.name}} - {{helditem.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>









        </div>
    </div>
    <footer class="footer-section">
        <div id="homepage-footer" class="homepage-footer" style="height: 100px;">
            <div style="float:left" class="footer left">

                <p>©2019 Andrew Hulterstrom</p>

            </div>
            <div class="footer right">

                <a style="height: 36px; line-height: 36px; vertical-align: middle; padding: 0px 0px" href="https://github.com/ahulterstrom/CS260-Creative-Project-3.git" class="backtotop link"><svg
            style="vertical-align: top" viewBox="0 0 16 16" version="1.1" width="32"
            aria-hidden="true">
            <path fill="white" fill-rule="evenodd"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
            </path>
          </svg> GitHub Link</a>
            </div>

        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="moment.min.js"></script>-->
    <script src="script.js"></script>

</body>

</html>
